.developer_block {
    display: flex;
    margin: 150px 0px 150px 0px;
    justify-content: space-between;
}

.developer_block-image_name {
    width: 396px;
    height: 495px;
    background-position: center !important;
    position: relative;
}

.developer_block-name {
    position: absolute;
    left: -2px;
    top: 390px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.005em;
    color: #F5F2EC;
    width: 20%;
}


.developer_block-time_feature {
    width: 60% !important;
    margin-left: 5%;
}
