.developer_block {
    display: flex;
    margin: 150px 0px 150px 0px;
    justify-content: space-between;
}

.developer_block-image_name {
    width: 396px;
    height: 495px;
    background-position: center !important;
    position: relative;
}

.developer_block-name {
    position: absolute;
    left: -3px;
    top: 391px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.005em;
    color: #F5F2EC;
    width: 20%;
}


.developer_block-time_feature {
    width: 60% !important;
    margin-left: 5%;
}


@media (max-width: 854px) {
    .developer_block-name {
        font-size: 30px;
        line-height: 44px;
        top: 313px;
    }
    .developer_block-image_name {
        width: 296px;
        height: 395px;
        background-size: cover !important;
    }
}


@media (max-width: 640px) {
    .developer_block {
        flex-direction: column;
        height: 700px;
    }

    .developer_block-image_name {
        margin: 0 auto;
        width: 280px;
        height: 295px;
    }

    .developer_block-time_feature {
        width: 100% !important;
        margin: 0 auto;
    }

    .developer_block-name {
        top: 213px;
    }
}
