.director-main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.director-main-info-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 581px;
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
}

.director-image-container {
  position: relative;
  width: 500px;
  height: 718px;
}

.director-main-info-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.director-main-info-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  font-family: "Montserrat", "Arial", "sans-serif";
  font-weight: 900;
  font-size: 42px;
  line-height: 54px;
  color: #F5F2EC;
  z-index: 3;
}

.director-image-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 2;
}

@media (max-width: 1270px) {
  .director-main-info {
      justify-content: center;
  }

  .director-main-info-description {
      width: 90%;
  }

  .director-short-biography {
      margin: 60px 0;
  }

  .director-life-date {
      text-align: center;
  }
}

@media (max-width: 854px) {
  .director-main-info-description {
    font-size: 15px;
    line-height: 26px;
  }

  .director-main-info-name {
    font-size: 30px;
    line-height: 44px;
  }
}

@media (max-width: 610px) {
  .director-image-container {
      width: 400px;
      height: 574px;
  }

  .director-image-container:after {
      width: 400px;
  }
}

@media (max-width: 480px) {
  .director-image-container {
      width: 268px;
      height: 385px;
  }

  .director-image-container:after {
      width: 268px;
  }

  .director-main-info-name {
      font-size: 26px;
      line-height: 36px;
  }
}
