.map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 200px;
}

.map-title {
    margin-bottom: 76px;
    font-family: "Montserrat", "Arial", "sans-serif";
    font-weight: 900;
    font-size: 72px;
    line-height: 90px;
    color: #F54D1C;
}

#map {
    margin: 0 auto;
    width: 800px;
    height: 400px;
}

.marker {
    background-image: url('../../../Assets/Icons/Marker.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: "Montserrat", "Arial", "sans-serif";
}

@media (max-width: 854px) {
    .map-title {
      font-size: 60px;
    }
  }

@media screen and (max-width: 830px) {
    #map {
        width: 700px;
        height: 350px;
    }
}

@media screen and (max-width: 760px) {
    #map {
        width: 550px;
        height: 275px;
    }
}

@media screen and (max-width: 570px) {
    #map {
        width: 300px;
        height: 150px;
    }
}

@media (max-width: 470px) {
    .map-wrapper {
        padding: 20px 0 70px;
    }

    .map-title {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }