.buttons_links_block {
    margin-top: 150px;
}

.buttons_links_block-title {
    margin-bottom: 50px;
}

.buttons_links_block-title,
.btn_block-medium_btn {
    font-family: "Montserrat", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #F54D1C;
}

.btn_block-small_btn {
    font-family: "IBM Plex Sans", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 197px;
}

.btn_block-small_btn-arrow {
    margin-left: 6px;
    vertical-align: -2px;
}

.btn_block-medium_btn {
    line-height: 188px;
}


.btn_block-medium_btn-arrow {
    font-family: "IBM Plex Sans", "Arial", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 70px;
    margin-left: 8px;
    vertical-align: -7px;
}

.btn_block-large_btn {
    font-family: "Montserrat", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
    color: #F54D1C;
}

.btn_block-large_btn-arrow {
    font-family: "IBM Plex Sans", "Arial", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 95px;
    line-height: 175px;
    vertical-align: -10px;
    margin-left: 5px;
}

@media (min-width: 1152px) {
.btn_block-large_btn {
  max-width: 29.333333% !important;
  flex-basis: 29.333333% !important;
}
}

@media (max-width: 1152px) {
    .buttons_links_block-btn {
        flex-direction: column;
    }

    .btn_block-small_btn,
    .btn_block-medium_btn {
        line-height: 68px;
    }

    .btn_block-large_btn-arrow {
        line-height: 125px;
    }
}

@media (max-width: 854px) {
    .btn_block-large_btn {
        font-size: 60px;
    }

    .btn_block-large_btn-arrow {
        font-size: 90px;
    }

    .btn_block-medium_btn {
        font-size: 30px;
    }

    .btn_block-medium_btn-arrow {
        font-size: 44px;
    }
}

@media (max-width: 480px) {
    .btn_block-large_btn {
        font-size: 50px;
    }

    .btn_block-large_btn-arrow {
        font-size: 80px;
    }
}

@media (max-width: 384px) {
    .btn_block-large_btn {
        font-size: 40px;
    }

    .btn_block-large_btn-arrow {
        font-size: 70px;
    }
}
