@font-face {
	font-family: "IBM Plex Sans";
	src: url('./Assets/Fonts/IBMPlexSans.woff') format('woff');
  }
  
  @font-face {
	font-family: "Montserrat";
	src: url('./Assets/Fonts/Montserrat.woff') format('woff');
  }

a {
	text-decoration: none;
}

.App {
	padding: 0 7%;
	background: #F5F2EC;
}

.header {
	margin-bottom: 50px;
	padding-top: 30px;
}

.row-2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logo {
	margin: 0;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	font-family: "Montserrat", "Arial", "sans-serif";
	font-style: normal;
	font-weight: 900;
	font-size: 94px;
	line-height: 90px;
	color: #F54D1C;
}

.navigation {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navigation a {
	margin: 40px 0 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "IBM Plex Sans", "Arial", "sans-serif";
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 31px;
	color: #000000;
}

.active.active {
	color: #F54D1C;
}

.column-2,
.column-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.column-1 {
	margin-right: 40px;
}

.column-2 {
	align-items: flex-end;
}



@media (max-width: 1600px) {

	.header {
		margin-bottom: 50px;
		padding-top: 10px;
	}

	.logo {
		font-size: 74px;
		line-height: 72px;
	}

	.navigation a {
		margin: 40px 0 0 60px;
		font-size: 24px;
		line-height: 27px;
	}

}

@media (max-width: 1300px) {

	.header {
		margin-bottom: 30px;
	}

	.logo {
		font-size: 62px;
		line-height: 64px;
	}

	.navigation a {
		margin: 30px 0 0 60px;
		font-size: 20px;
		line-height: 23px;
	}

}

@media (max-width: 1100px) {

	.logo {
		font-size: 52px;
		line-height: 54px;
	}

	.navigation a {
		margin: 20px 0 0 20px;
		font-size: 20px;
		line-height: 22px;
	}

}

@media (max-width: 950px) {

	.logo {
		font-size: 44px;
		line-height: 46px;
	}

	.navigation a {
		margin: 10px 0 0 10px;
		font-size: 18px;
		line-height: 20px;
	}

	.column-1 {
		margin-right: 20px;
	}

}

@media (max-width: 780px) {

	.logo {
		font-size: 32px;
		line-height: 34px;
	}

	.navigation a {
		margin: 0 0 0 10px;
		font-size: 14px;
		line-height: 16px;
	}
}

@media (max-width: 620px) {

	.logo {
		font-size: 26px;
		line-height: 28px;
		word-spacing: 53px;
	}

	.navigation a {
		margin: 0 0 0 10px;
		font-size: 12px;
		line-height: 14px;
	}

	.navagation-link {
		margin-top: 4px;
	}
}

@media (max-width: 620px) {

	.logo {
		font-size: 22px;
		line-height: 24px;
		word-spacing: 6px;
	}

	.navigation a {
		margin: 0 0 0 10px;
		font-size: 10px;
		line-height: 12px;
	}

	.column-1 {
		margin-right: 10px;
	}
}

@media (max-width: 440px) {

	.logo {
		font-size: 16px;
		line-height: 28px;
	}

	.navigation a {
		margin: 0 0 0 10px;
		font-size: 8px;
		line-height: 10px;
	}

	.column-1 {
		margin-right: 2px;
	}
}

@media (max-width: 316px) {

	.logo {
		font-size: 11px;
		line-height: 14px;
		word-spacing: 53px;
	}

	.navigation a {
		margin: 0 0 0 8px;
		font-size: 7px;
		line-height: 10px;
	}

		.column-1 {
		margin-right: 2px;
	}
}
